**/GeneratedFiles
**/x64
*.ic
*.mc
*.mh
*.suo
*.VC.db
*.sdf
**/Debug
**/ipch
*.vcxproj.user
*.exe
*.ilk
*.ipdb
*.pdb
*.exp
*.iobj
*.log
*.db-wal
*.db-shm
*.opendb
*.tmp
*.grid
*.VC.VC.opendb
*.obj
*.tlog 
*.idb
